/* Estilos para la página de inicio */

/* Estilos del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('uleamimg/uleam.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el cuerpo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos del título en el encabezado */
header h1 {
    margin: 0;
    font-size: 24px;
}

/* Estilos de navegación */
nav {
    display: flex;
    justify-content:baseline;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: rgb(0, 121, 250);
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #bbb;
}

/* Estilos del contenido principal */
main {
    padding: 20px;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

/* Cambia el color del pie de página cuando se pasa el mouse */
footer:hover {
    background-color: #555;
}
/* Estilos del logo */
#logo {
    width: 200px; /* Ancho del logo */
    height: auto; /* Altura ajustada automáticamente */
    margin-right: 100px; /* Espacio entre el logo y el texto */
}
